.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;

  width: 1440px;
  height: 1185px;
  gap: 20px;
  opacity: 1;
  padding-top: 24px;
  padding-right: 80px;
  padding-bottom: 24px;
  padding-left: 80px;
}

.main h1 {
  box-sizing: border-box;

  text-align: center;
  margin-top: 0;

  width: 134px;
  height: 44px;
  opacity: 1;

  font-family: Pretendard;
  font-weight: 700;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -1.71px;
  vertical-align: middle;

  color: var(--color-text-primary, #17191E);
}