.movie-grid{
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
    gap: 20px 18px;
}

@media (max-width: 1024px) {
    .movie-grid{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
}

@media (max-width: 768px) {
    .movie-grid{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media (max-width: 480px) {
    .movie-grid{
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}